@media only screen and (max-width: 600px) {

    .javascript-area {
        max-width: 95%;

    }

    footer li {
        display: block;
    }

    #randomQuote {
        max-width: 100%;

        
    }

    header li {
        display: block;
        padding: 5px;
        background-color: rgb(169, 169, 169);;
    }


}



* ::after ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: rgb(213, 213, 213);
    scroll-padding-top: 40px;
}

main {
    max-width: 850px;
    margin: 0;

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.hobbies li {
    line-height: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-style:italic;
    margin-left: 10px;
}

p {
    margin: auto 10px;
}

span a {
    padding: 0px 5px 2px 5px;
    background-color:  rgb(169, 169, 169);
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

span a:hover {
    background-color:  rgb(20, 69, 45);
    color: rgb(255, 255, 255);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(169, 169, 169);
}
 
header ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: rgb(169, 169, 169);
}

header li {
    list-style: none;

}

.hobbies li {
    list-style-type:circle;
}

header a {
    text-decoration: none;
}

.javascript-area {
    max-width: 600px;
    border-radius: 20px;
    background-color: rgb(195, 194, 194);
    margin: auto 10px;
    margin-top: 1.5rem;
}


button {
    background-color:rgb(168, 171, 206);
    border: solid 1px rgb(153, 152, 152);
    color: rgb(42, 41, 41);
    padding: 10px 16px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
    margin: 1.75rem 2rem 1.2rem 5%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#randomQuote {
    margin-left: 5%;
    text-align: start;
    width: 90%;
    padding: 0 0 1.5rem 0;
    font-weight: 600;
    font-size: 1.25rem;
    
}

footer {
    background-color: rgb(169, 169, 169);
}

footer ul {
    min-height: 20px;
    padding: 10px 10px;
}

footer li {
    display: inline-block;
    list-style: none;
    min-width: 200px;
    padding: 5px 5px;
}

header a:hover {
    border-radius: 20px;
    color: rgb(20, 90, 59);
    font-weight: 600;
}

/* Page 2 styling for "more about me" portion (unique) */

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 10px;
}

img {
    margin: 5px 5px;
    border-radius: 10px;
}